@import url('https://fonts.googleapis.com/css?family=Domine:400,700&subset=latin-ext');

.App-header {
    display: block;
    min-width: 315px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000000090;
    position: fixed;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
    border-color: #e2e2e2;
    border-bottom: 1px solid #ccc;
    height: 47px;
    font-size: 100%;
    font-size: xx-large;
    padding-top: 5px;
}

.App-content {
    margin-top: 50px;
    display: block;
    max-width: 100%;
    font-family: "cheltenham", 'Domine', serif;
 }

.App-footer {
    min-width: 315px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-color: #e2e2e2;
    border-top: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 10px;
    height: 50px;
}

.AppNavigation {
    color: #333;
    padding: 0 29px;
    border: 0;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font: inherit;
    vertical-align: baseline;
    display: block;
    margin-top: 10px;
}

.AppNavigationList {
    color: #333;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    border: 0;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    list-style-type: none;
    position: relative;
    display: inline-block;
    margin: 0 -4px 0 0;
    padding: 9px 0 9px;
}

.AppNavigationListItem {
    border-right: 1px solid #ccc;
    content: '';
    display: inline-block;
    vertical-align: -3px;
    height: 16px;
    padding-right: 10px;
    list-style: none;
    list-style-type: none;
    display: list-item;
    text-align: -webkit-match-parent;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-right: none;
    color: #333;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 13px;
    line-height: 13px;
    padding-left: 10px;
}

.AppNavigationListItem:first-child {
    padding-left: 0;
}

p {
    display: block;
    margin: 0 0 1em 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
