.App-content-title-sector {
    color: #000;
    -webkit-flex: 1 75%;
    -ms-flex: 1 75%;
    flex: 1 75%;
    margin: 0;
    padding: 0 29px;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.App-content-sector {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}