.NewsItemContent {
    width: 28vw;
    margin-top: 0;
    padding: 0 29px 29px;
    font-size: 16px;
    font-size: 1rem;
    line-height: 23px;
    line-height: 1.4375rem;
    font-weight: 400;
    font-style: normal;
    font-family: georgia, "times new roman", times, serif;
    display: list-item;
    text-align: -webkit-match-parent;
    border-right: 1px solid #e2e2e2;
    border-top: none;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.NewsTitle {
    margin-bottom: 7px;
    font-size: 23px;
    font-size: 1.4375rem;
    line-height: 27px;
    line-height: 1.6875rem;
    font-weight: 700;
    font-style: normal;
    font-family: "cheltenham-normal-700",georgia,"times new roman",times,serif;
    font-feature-settings: 'kern';
    clear: left;
}

.NewsByline {
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 12px;
    line-height: 0.75rem;
    font-weight: 500;
    font-style: normal;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 3px;
    color: #999;
}

.NewsAbstract {
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 22px;
    line-height: 1.375rem;
    font-weight: 500;
    font-style: normal;
    font-family: georgia,"times new roman",times,serif;
    margin-bottom: 0;
}